#!/usr/bin/make -f

DEB_BUILD_MAINT_OPTIONS=hardening=+all
export DEB_BUILD_MAINT_OPTIONS
include /usr/share/dpkg/architecture.mk

%:
	dh $@ --with bash-completion

override_dh_auto_configure:
	dh_auto_configure -- --disable-option-checking \
			     --disable-internal-sqlite --json \
			     --with-th1-docs --with-th1-hooks \
			     --with-tcl=1 \
			     --with-tcl-stubs \
			     --with-tcl-private-stubs

# From src/main.mk:
#
# WARNING. DANGER. Running the test suite modifies the repository the
# build is done from, i.e. the checkout belongs to. Do not sync/push
# the repository after running the tests.

override_dh_auto_test:
	@echo skipping test due to scary warning in src/main.mk

# Currently, test fails for json.  Needs to be investigated.

override_dh_installdocs:
	dh_installdocs
	mv debian/fossil/usr/share/doc/fossil/changes.wiki \
	   debian/fossil/usr/share/doc/fossil/changelog
